<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/google-analytics', { head: false }) %>
  <%- partial('_partial/header') %>
  <div class="container">
    <div class="columns">
      <div style="overflow:hidden;" class="main column">
        <%- body %>
      </div>
      <div class="sidebar column is-4">
        <%- partial('_partial/sidebar') %>
      </div>
    </div>
  </div>
  <%- partial('_partial/footer') %>

  <script>
    // HACK: custom style goes here
    tables = document.querySelectorAll('table');
    for (i = 0; i < tables.length; i++) {
      tables[i].classList.add("table", "is-bordered", "is-fullwidth");
    }
  </script>
</body>
</html>
